* {
  padding: 0;
  margin: 0;
}

/* __________ Nav Bar _________ */

header {
  background-color: darkgreen;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo p {
  max-height: 50px;
  font-size: 38px;
  color: white;
  font-weight: bold;
  margin: 0 5px 0 5px;
  padding-top: 5px;
  font-family: monospace;
  font-style: italic;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav p {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav p a {
  text-decoration: none;
  color: white;
}

/* _____________________________ */